@import "assets/styles/colors.module.scss";

$inputDefaultWidth: 256px;

.wrapperInput {
  width: 256px;
  position: relative;
}

.input {
  height: 40px;
  outline: none;
  padding: 0 16px;
  font-size: 14px;
  line-height: 20px;
  color: $main-black;
  border-radius: 12px;
  letter-spacing: 0.18px;
  width: $inputDefaultWidth;
  border: solid 1px #e4eff2;

  &::placeholder {
    font-size: 14px;
    line-height: 20px;
    color: $grey;
    letter-spacing: 0.18px;
    font-family: "IBMPlexSans";
  }
}

.usedInput {
  border: solid 1px $main-black;
}

.error {
  border: solid 1px $red;
}

.errorText {
  color: $red;
  font-size: 10px;
  padding: 4px 16px;
  line-height: 16px;
  letter-spacing: 0.13px;
  font-family: "IBMPlexSans";
}

.icon {
  top: 12px;
  right: 12px;
  cursor: pointer;
  position: absolute;
}
