.wrapper {
  width: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapperInput {
  margin-bottom: 25px;
}

.wrapperBtn {
  width: 300px;
  text-align: center;
}

.title {
  font-size: 32px;
  margin-bottom: 25px;
}

.wrapperRules {
  margin-bottom: 25px;
}

.wrapperSelect {
  margin-bottom: 100px;
}
